<mat-card>
  <div id="htmlData">
    <h2>Listado de Consultas</h2>
    <table class="table table-bordered mt-4">
      <tr class="table-primary">
        <th>No.</th>
        <th>DPI</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Credito</th>
        <th>Estado del Credito</th>
      </tr>
      <tr *ngFor="let consulta of ListaConsultas">
        <th>{{consulta.iterador}}</th>
        <td>{{consulta.dpi_usuario}}</td>
        <td>{{consulta.nombre}}</td>
        <td>{{consulta.apellido}}</td>
        <td>{{consulta.tiene_credito}}</td>
        <td>{{consulta.estado_credito}}</td>
      </tr>
    </table>
  </div>
<div style="text-align: center;">
  <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()" >Download PDF</button>
</div>
</mat-card>

